:root {
    /* Main Colors */
    --darkblue: #182B49;
    --medblue: #00629B;
    --darkyellow: #C69214;
    --medyellow: #FFCD00;

    /* Accent colors */
    --accentblue: #00C6D7;
    --accentgreen: #6E963B;
    --accentyellow: #F3E500;
    --accentorange: #FC8900;

    /* Neutral colors */
    --black: #000000;
    --darkgray: #747678;
    --lightgray: #B6B1A9;
    --darkgold: #84754E;


    /* Palettes:
    Normal: Medblue, Medyellow, Darkgrey
    Dark: Darkblue, Darkyellow, Lightgray
    Bright: Accentblue, Accentyellow, Accentorange
    Monochrome: medblue, Darkblue, accentblue
    */
}


* {
    font-family: BrixSansBold, Helvetica, Arial, sans-serif;
}

.navbar {
    orientation: horizontal;
}

#left-box {
    /* display: flex; */
    /* align-items: center; */
    padding: 0.5cm;
    margin-left: 65%;
    width: 30%;
    height: auto;
    background-color: #B6B1A9;
}

p {
    color: var(--darkblue);
}

h2 {
    color: #182B49;
}